$dark-primary: #221d2a;
$dark-dull: #221d2af3;
$white: #fff;
$card-dull: #2c2c44;
$card-bright: #34364f;
$float-dot: #1e1e28;
$text-pink: #d64f70;
$text-pink-light: #ff5c89;
$text-white: #8486a9;
$linear-gradient: linear-gradient(to bottom, #1e1e28, #251d2c);
$transition: all 1s ease-in-out;
